body {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	background-image: url(./images/bg-intro-desktop.svg);
	background-repeat: no-repeat;
	background-position: right top;
	// max-width: 1440px;
	// margin: 0 auto;
	#body-content {
		position: relative;
    	min-height: 100vh;
	}


	h1, h2, h3 {
		font-family: 'Raleway', sans-serif;
		font-weight: 700;
	}

	h2 { font-size: 1.8rem; }

	ul {
		list-style-type: none;
		padding: 0;
	}
	
	a:link { text-decoration: none;}
	a:visited { color: #FFF; }

	header {
		width: 100%;
		padding: 3rem 0;
		position:absolute;
		display: flex;
		justify-content: space-between;
		align-items: center;

		.logo-container {	
			padding-left: 8rem;
			display: flex;
    		align-items: center;
		}	

		.btn-container {
			padding-right: 5rem;
			position: relative;
			z-index: 1;
		}
	}


	.sign-in {
		background-color: unset;
		color: #FFF;
		cursor: pointer;
		border: 0;
		border-radius: 3px;
		padding: 0.5rem 2rem;
	}

	.sign-in:hover {
		background-color: #05D69B;
	}

	.sign-up {
		background-color: #05D69B;
		color: #FFF;
		cursor: pointer;
		border: 0;
		border-radius: 3px;
		padding: 0.5rem 2rem;
	}

	main {
		min-height: 100vh;
		padding: 9rem 8rem;
	}

	.wrapper-content {
		padding-top: 20rem;
	}

	.intro {
		display: flex;
    	justify-content: space-between;
    	// height: 100vh;
    	// align-items: center;

		.intro-left-side {
			// padding: 3rem 4rem;
			width: 50%;
			display: flex;
			flex-direction: column;
			justify-content: center;
		}
		.intro-right-side {
			// position: relative;
		}
		.ill-main-container {
			// position: absolute;
			// top: 3rem;
			// right: 0rem;
		}
	}


	.get-started {
		background-color: #05D69B;
		color: #FFF;
		cursor: pointer;
		border: 0;
		border-radius: 3px;
		padding: 1rem 4rem;
		font-weight: 600;
		letter-spacing: 0.5px;
		box-shadow: 1px 1px 2px #808080;
		font-size: 1rem;
	}


	.bg-img-container {
		position: relative;
		top: 0;
		bottom: 0;
	}


	.offered-features{
		text-align: center;
	}

	.icons-container {
		padding: 2rem 0;
		display: flex;
		justify-content: space-around;
		align-items: flex-end;
	}

	.devices-container {

	}

	.security-container {

	}

	.collaboration-container {

	}

	.integrations {
		display: flex;
		align-items: center;
		padding-top: 7rem;

		.integrations-header {
			// text-align: center;
			padding-right: 1rem;
		}
	}

	.connected-apps {
		ul {
			// display: flex;
   			//flex-wrap: wrap;
			margin: 0;
		}

		li {
			float: left;
			border: 0px solid;
			text-align: center;
			height: min-content;
			width: 16rem;
			margin: 0.5rem;
			border-radius: 2px;
			box-shadow: 1px 1px 2px #808080;
		}

		li:nth-child(1){
			margin-top: 4rem;
		}

		li:nth-child(3){
			margin-top: 4rem;
		}		

		li:nth-child(5){
			margin-top: -3rem;
		}

		.logo-app-container {
			border-bottom: 1px solid #cbc9c9;
			padding: 1.5rem;
			height: 5rem;
			display: flex;
			align-items: center;
			justify-content: center;
			img { max-width: 150px; }
		}

		.app-info {
			padding: 1.5rem;
			h3 { font-size: 1.5rem; margin-top: 0;}
			p { margin: 0; }
		}

	}


	.start-using {
		text-align: center;
		width: inherit;
		margin: auto;
		padding-top: 7rem;
		p { margin-bottom: 3rem; }
	}

	footer {
		position: absolute;
		width: 100%;
		padding: 4rem 0 5rem 0;
		background-color: #070439;
		
		.footer-logo-container {
			padding: 0 5rem;
			img { filter: invert(100%); zoom: 1.3; }
		}

		.footer-content {
			color: #FFF;
			display: flex;
			padding: 0 5rem;

			.contact-info-container {
				// width: 50%;
				p { width: inherit; line-height: 1.5; }
				
				.input-container {
					display: flex;
					input { padding: 0.5rem 2rem; border-radius: 3px; border: 0; }
					div { margin-left: 1rem;}

					.join-btn { 
						background-color: #05D69B;
						color: #FFF;
						cursor: pointer;
						border: 0;
						border-radius: 3px;
						padding: 0.5rem 4rem;
						font-weight: 600;
					}
					p { margin: 0; }
				}

				.phone-container {
					display: flex;
					align-items: center;
					margin: 1.5rem 0 1rem 0;

					.phone-icon-container {	margin-right: 0.8rem; }
					p { margin: 0; }
				}

				.email-container {
					display: flex;
					align-items: center;
					margin: 1rem 0;

					.email-icon-container { margin-right: 0.8rem; }
					p { margin: 0; }
				}
			}

			.page-nav {
				flex: 1;
				display: flex;
				justify-content: space-around;
				line-height: 2;

				#fylo-container { p { font-weight: 700; } }
				#company-container { p { font-weight: 700; } }
				#support-container { p { font-weight: 700; } }
			}

		}

	}


}